:root {
    --vp-font-family-base:"JetBrains Mono", monospace;
}

@supports (font-variation-settings: normal) {
    :root {
        --vp-font-family-base: "JetBrains Mono Variable", monospace;
        font-optical-sizing: auto;
    }
}

@font-face {
    font-family: "JetBrains Mono Variable";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("../assets/fonts/JetBrainsMono-VariableFont_wght.ttf");
}

@font-face {
    font-family:  "JetBrains Mono Variable";
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("../assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf");
}

@font-face {
    font-family:  "JetBrains Mono";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../assets/fonts/JetBrainsMono-Regular.ttf");
}